.text-primary-colore{
	color: $color-primary;
}
.text-white{
	color: $color-white;
}
.text-gray{
	color: $color-gray;
}
.text-yellow{
	color: $color-yellow;
}
.text-color-gray-light{
	color: $color-gray-light;
}
.text-gray-footer{
	color: $color-gray-footer;
}
.bg-color-primary{
	background-color: $color-primary;
}
.bg-color-red{
	background-color: $color-red;
}
.bg-color-gray-light{
	background-color: $color-gray-light;
}
.bg-color-gray{
	background-color: $color-gray-footer;
}

.color-red{
	color: $color-red-colore;
}