/* Extra small devices (phones, 600px and down) */
@media (max-width: 450px) {
#maps-container{
		height: 100%;
	}
#slider-main{
	max-height: 100vh
}
.nav-item{
   margin-top: 9px;
   margin-bottom: 9px;
   text-align: center;

}
.navbar-nav{
  height: 100vh;
  margin-top: 30%;
  transform: translateY(50%-50%);
}
/* Slider Queries */
.slider-img-1{
		height: 100vh !important;
	    background-image: url(./img/slider-movil/slider-1.jpg) !important;
	    background-attachment: fixed;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
.slider-img-2{
		height: 100vh !important;
	    background-image: url(./img/slider-movil/slider-2.jpg) !important;
	    background-attachment: fixed;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
.slider-img-3{
		height: 100vh !important;
	    background-image: url(./img/slider-movil/slider-3.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
.slider-img-4{
		height: 100vh !important;
	    background-image: url(./img/slider-movil/slider-4.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
.slider-img-5{
		height: 100vh !important;
	    background-image: url(./img/slider-movil/slider-5.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

/* Lines Queries */
.accesorios-img{
		height: 100vh !important;
	    background-image: url(./img/lineas/accesorios-movil.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
.acero-img{
		height: 100vh !important;
	    background-image: url(./img/lineas/acero-movil.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
.chapa-img{
		height: 100vh !important;
	    background-image: url(./img/lineas/chapa-movil.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
.aplicaciones-img{
		height: 100vh !important;
	    background-image: url(./img/lineas/aplicaciones-movil.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
.microsetting-img{
		height: 100vh !important;
	    background-image: url(./img/lineas/microsetting-movil.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}


} 

@media (max-width: 575px) {
	#maps-container{
		height: 100%;
	}
#slider-main{
	max-height: 100vh;
}
.nav-item{
   margin-top: 9px;
   margin-bottom: 9px;
   text-align: center;

}
.navbar-nav{
  height: 100vh;
  margin-top: 30%;
  transform: translateY(50%-50%);
}
/* Slider Queries */
.slider-img-1{
		height: 100vh !important;
	    background-image: url(./img/slider-movil/slider-1.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
.slider-img-2{
		height: 100vh !important;
	    background-image: url(./img/slider-movil/slider-2.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
.slider-img-3{
		height: 100vh !important;
	    background-image: url(./img/slider-movil/slider-3.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
.slider-img-4{
		height: 100vh !important;
	    background-image: url(./img/slider-movil/slider-4.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
.slider-img-5{
		height: 100vh !important;
	    background-image: url(./img/slider-movil/slider-5.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
/* Lines Queries */
.accesorios-img{
		height: 100vh !important;
	    background-image: url(./img/lineas/accesorios-movil.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
.acero-img{
		height: 100vh !important;
	    background-image: url(./img/lineas/acero-movil.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
.chapa-img{
		height: 100vh !important;
	    background-image: url(./img/lineas/chapa-movil.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
.aplicaciones-img{
		height: 100vh !important;
	    background-image: url(./img/lineas/aplicaciones-movil.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
.microsetting-img{
		height: 100vh !important;
	    background-image: url(./img/lineas/microsetting-movil.jpg) !important;
	   	background-attachment: scroll;
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

} 



/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	#maps-container{
		height: 75vh;
	}
.gallery-container{
		max-height: 210px;
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
	#maps-container{
		height: 75vh;
	}
.gallery-container{
		max-height: 210px;
	}}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
	#maps-container{
		height: 75vh;
	}
.gallery-container{
		max-height: 210px;
	}}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	#maps-container{
		height: 75vh;
	}
.gallery-container{
		max-height: 210px;
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
#maps-container{
		height: 75vh;
		align-items: center;
	}
.gallery-container{
		max-height: 210px;
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
#maps-container{
		height: 75vh;
	}
.gallery-container{
		max-height: 210px;
	}
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
#maps-container{
		height: 75vh;
	}
.gallery-container{
		max-height: 210px;
	}
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
#maps-container{
		height: 75vh;
	}
.gallery-container{
		max-height: 210px;
	}
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
#maps-container{
		height: 75vh;
	}
.gallery-container{
		max-height: 210px;
	}
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
#maps-container{
		height: 75vh;
	}
.gallery-container{
		max-height: 210px;
	}
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
#maps-container{
		height: 75vh;
	}
.gallery-container{
		max-height: 210px;
	}
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
#maps-container{
		height: 75vh;
	}
.gallery-container{
		max-height: 210px;
	}
}