body {
  background-color: #0e3da6;
}

#mailing-body {
  height: 100vh;
  width: 100%;
}

.table .thead-light th {
  color: white;
  background-color: #00338a;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.table .thead-light th:last-child {
  text-align: center;
}

table.dataTable tbody tr {
  background-color: #0e3da6;
}

table.dataTable tbody th, table.dataTable tbody td {
  font-size: 1.2em;
  padding: 11px 11px;
}

#myTable_length {
  padding-bottom: 50px;
}

#myTable_filter {
  padding-bottom: 50px;
}

.dataTables_wrapper .dataTables_paginate {
  float: none;
  text-align: center;
  padding-top: 0.25em;
  background-color: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #4D85FF !important;
  border: none;
  border-radius: none;
  background: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  color: #4D85FF !important;
  border: none;
  border-radius: none;
  background: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: white !important;
  background-color: none;
  background: none;
  border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: white !important;
  background-color: none;
  background: none;
  border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #4D85FF !important;
  border: 1px solid transparent;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

table.dataTable.no-footer {
  border-bottom: none;
}

.radio {
  background-color: #FF0000;
  width: 20px;
  height: 20px;
}

.radio_m {
  background-color: #FF0000;
  width: 20px;
  height: 20px;
}

.btn-mail {
  color: white;
  background-color: #005eff !important;
  height: 50px;
  border: none !important;
  -webkit-transition: .2s;
  transition: .2s;
  letter-spacing: 3px;
}

.btn-mail:hover {
  color: #003da6;
  background-color: white !important;
  height: 50px;
  border: none !important;
}

/*Label Table Select*/
label {
  color: white;
}

select {
  background-color: #0e3da6;
  border: solid white;
  border-width: 0 0 1px 0;
  color: white;
  font-size: 21px;
  padding: 3px;
}

select:focus {
  outline-width: 0;
}

#myTable_filter input[type=search] {
  background-color: #0e3da6;
  border: solid white;
  border-width: 0 0 1px 0;
  color: white;
  font-size: 21px;
}

#myTable_filter input[type=search]:focus {
  outline-width: 0;
}

.dataTables_empty {
  color: white;
}

.data-inputs-text {
  color: #4D85FF;
}

#info {
  color: #4D85FF;
  font-size: 1em;
}

#response_mail {
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  background-color: black;
  opacity: .9;
  height: 100vh;
  width: 100%;
  display: none;
  overflow: hidden;
}

#success-mail {
  opacity: 0;
}

#total-mail {
  opacity: 0;
}

#close-mail {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 19px;
  padding-top: 10px;
  font-size: 1.3em;
  opacity: 1;
}

#close-mail > .fa-times {
  cursor: pointer;
}
/*# sourceMappingURL=table.css.map */