$color-primary: #003da6;
$color-red: #fc4c41;
$color-white: #fff;
$color-yellow: #f5b335; 
$color-pink: #f27fb2;
$color-aqua: #00BBB4;
$color-gray: #5D5D5D;
$color-gray-light: #B3B3B3;
$color-gray-footer: #CFCFCF;

/* Oficial Colors*/
$color-red-colore: #ff4438;
$color-pink-colore: #f27fb2;
$color-yellow-colore: #f5b335;
$color-green-colore: #00bbb4;